@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  outline: none;
  border: none;
}

button:active {
  box-shadow: none;
}

.main {
  background-color: rgb(21, 226, 158);
  width: 40%;
  height: 100vh;
  /* height: 100%; */
  margin: auto;
}

.display {
  height: 22vh;
  width: 100%;
  margin-bottom: 1.2rem;
  background-color: rgb(235, 231, 231);
  border: 5px outset gray;
  font-size: 25px;
  font-weight: bold;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  margin-bottom: 20px;
}

.pressedNum {
  color: white;
  background-color: black;
}

.pressedOp {
  color: black;
  background-color: white;
}

.keymod {
  font-size: 20px;
  background-color: black;
  color: white;

  svg {
    width: 1.2rem;
    vertical-align: middle;
  }
}

.keymod:hover {
  color: black;
  background-color: white;
  /* box-shadow: none; */
}

.numkey {
  font-size: 20px;
}

.numkey:hover {
  background-color: black;
  color: white;
  /* box-shadow: none; */
}

.opkey {
  font-size: 22px;
  color: orangered;
  background-color: white;
}

.opkey:hover {
  color: white;
  background-color: orangered;
}

.key {
  border-radius: 50%;
  padding: 1rem 1.2rem;
  margin: auto;
  width: 70px;
  height: 70px;
  line-height: 40px;
  text-align: center;
  box-shadow: 5px 7px 12px 3px #000000;
  font-weight: 600;

  p {
    font-size: 2rem;
  }
}

.add,
.minus,
.multiply,
.divide {
  font-size: xx-large;
}

@media screen and (max-width: 1000px) {
  .key {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 20px;
  }
}
@media screen and (max-width: 765px) {
  .main {
    width: 70%;
  }

  .key {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 20px;
  }
}

@media screen and (max-width: 468px) {
  .main {
    width: 100%;
  }

  .key {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 20px;
  }
}
